/*@download-font-weight: @bold;*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 1.4rem;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #D32C55;
}
a:active {
  opacity: 0.3;
}
ul {
  margin: 0;
  padding: 0;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 1.7em;
  color: #293545;
}
h2,
h3 {
  font-size: 1.2em;
  color: #000;
}
mark {
  background: #ff0;
  color: #000;
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
legend {
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
/*body{
	min-width:450px;
}*/
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
.page-header {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .page-header {
    width: 700px;
    margin: 0 auto;
  }
}
.g-container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .g-container {
    width: 700px;
    margin: 0 auto;
  }
}
/* -- Шапка нераскрытого меню -- */
.page-header__main-nav {
  background-color: rgba(0, 0, 0, 0.3);
  height: 66px;
}
@media (min-width: 700px) {
  .page-header__main-nav {
    height: 109px;
  }
}
/*Логотип*/
.page-header__logo {
  margin-top: 23px;
  margin-left: 21px;
  display: inline-block;
}
@media (min-width: 700px) {
  .page-header__logo {
    width: 145px;
    margin-top: 27px;
    margin-left: 40px;
  }
}
.logo-svg {
  width: 74px;
}
@media (min-width: 700px) {
  .logo-svg--tab {
    width: 145px;
  }
}
/*menu-burger*/
.page-header__open {
  padding-top: 0px;
  padding-left: 150px;
  margin-top: 1px;
  display: inline-block;
}
@media (min-width: 700px) {
  .page-header__open {
    padding-left: 0px;
    margin-left: 419px;
    margin-top: 0;
    padding-top: 1px;
    margin-top: 1px;
  }
}
.page-header__background {
  background-image: url(../img/iphone-hand-1.png), url(../img/background-1@1x.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0px 172px, -368px -37px;
  background-size: auto, cover;
  position: relative
  /*для привязки точки отсчета
                      для выпадающего меню*/
}
@media (min-width: 700px) {
  .page-header__background {
    background-image: url(../img/iphone-hand-2@1x.png), url(../img/background-1@1x.jpg);
    background-position: center 184px, -170px 0px;
    background-size: auto, cover;
    position: relative;
  }
}
.main-nav {
  position: absolute;
  top: -3px;
  background-color: #293545;
  font-family: 'Open Sans', Helvetica, sans-serif;
  display: none
  /*block or none!!!!*/
}
/*Выпадающее меню*/
.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-nav__item {
  width: 320px;
}
@media (min-width: 700px) {
  .main-nav__item {
    width: 700px;
  }
}
.main-nav__item a {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  width: 320px;
  padding-top: 21px;
  padding-bottom: 21px;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}
@media (min-width: 700px) {
  .main-nav__item a {
    width: 700px;
  }
}
.main-nav__logo,
.main-nav__close {
  padding: 0px 0px;
  margin: 0;
  text-decoration: none;
  display: inline-block;
}
.main-nav__item > .main-nav__logo {
  width: 74px;
  margin-top: 2px;
  margin-left: 20px;
}
.main-nav__item > .main-nav__close {
  width: 23px;
  margin-top: 2px;
  margin-left: 177px;
}
.main-nav__item {
  line-height: 20px;
  list-style-type: none;
  border-top: 1px solid #495361;
  border-bottom: 1px solid #000101;
}
/*Взгляните на жизнь иначе*/
.promo-look {
  display: inline-block;
  width: 320px;
}
@media (min-width: 700px) {
  .promo-look {
    width: 366px;
    margin-top: 45px;
  }
}
.promo-wrapper {
  background-color: #1e2631;
  margin-top: 315px;
  padding-top: 10px;
}
@media (min-width: 700px) {
  .promo-wrapper {
    background-color: transparent;
    margin-top: 26px;
  }
}
.promo-look__slogan {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 20px;
  padding-top: 1px;
}
@media (min-width: 700px) {
  .promo-look__slogan {
    font-size: 40px;
    font-weight: 100;
    margin-top: 52px;
    margin-bottom: 0px;
  }
}
.download,
.promo-text {
  background-color: #1e2631;
}
@media (min-width: 700px) {
  .download,
  .promo-text {
    background-color: transparent;
  }
}
.download {
  margin-top: 19px;
}
@media (min-width: 700px) {
  .download {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.download__button {
  background-color: #1e2631;
  font-family: font-main;
  font-weight: bold;
  font-size: 19px;
  color: #ffffff;
  text-align: center;
  display: block;
  border-top: 1px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 3px solid #ffffff;
  border-radius: 30px;
  text-decoration: none;
  width: 275px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .download__button {
    background-color: transparent;
    margin-bottom: 1px;
    margin-top: 0px;
  }
}
/*--Иконки операционных систем --*/
.promo-text__img {
  display: inline-block;
  margin: 15px;
}
@media (min-width: 700px) {
  .promo-text__img {
    margin: 0;
    margin-left: 45px;
    margin-right: -14px;
    padding-left: 0px;
  }
}
.promo-text {
  margin-top: 15px;
}
@media (min-width: 700px) {
  .promo-text {
    margin-top: 46px;
    margin-bottom: 1px;
    margin-left: 41px;
  }
}
.promo-text__systems {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #ffffff;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 30px;
  line-height: 24px;
}
@media (min-width: 700px) {
  .promo-text__systems {
    font-size: 18px;
    line-height: 24px;
    padding-top: 33px;
    padding-bottom: 107px;
    width: 304px;
    margin-right: 0px;
  }
}
.promo-text {
  background-color: #1e2631;
}
@media (min-width: 700px) {
  .promo-text {
    background-color: transparent;
  }
}
.promo-offer {
  background-color: #ffffff;
}
@media (min-width: 700px) {
  .promo-offer {
    width: 700px;
    margin: 0 auto;
  }
}
.promo-title {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  color: #293545;
  padding-top: 0;
}
.promo-title-quest {
  margin-bottom: 30px;
}
@media (min-width: 700px) {
  .promo-title {
    font-size: 40px;
    padding-top: 0;
    margin-top: 52px;
    line-height: 40px;
  }
  .promo-title-quest {
    display: block;
    margin-bottom: 0px;
  }
  .promo-title-ans {
    display: block;
    padding-top: 0px;
    line-height: 46px;
    margin-top: 8px;
    margin-bottom: 0px;
  }
}
.advantage {
  font-family: 'Open Sans', Helvetica, sans-serif;
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
}
.advantage__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
.advantage__description {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #293545;
  line-height: 22px;
  padding-top: 0px;
  padding-bottom: 13px;
  margin-top: 1px;
  margin-bottom: 0px;
}
@media (min-width: 700px) {
  .advantage {
    width: 700px;
    padding-top: 0px;
  }
  .advantage__title {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 700px) {
  .advantage__demo {
    width: 350px;
    display: inline-block;
  }
  .advantage-group {
    width: 350px;
    display: inline-block;
  }
  g-container {
    width: 350px;
  }
}
.advantage-item {
  display: inline-block;
}
.advantage__group {
  margin-top: 113px;
}
.demo {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding-top: 26px;
}
.demo__screen {
  text-align: center;
  margin: 0 auto;
  margin-top: 1px;
}
.reviews {
  background-color: #ffffff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  width: 320px;
  margin: 0 auto;
  text-transform: none;
  font-style: normal;
  text-align: center;
}
.slider-reviews__header {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #000000;
  letter-spacing: 1px;
}
.slider-reviews__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
  color: #293545;
}
.slider-reviews__header {
  font-style: normal;
  margin: 0 auto;
}
.prices {
  width: 320px;
  margin: 0 auto;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background-color: #f2f2f2;
  text-transform: uppercase;
}
.prices__table__head {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.prices__table__title {
  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.name-item-content {
  font-size: 14px;
  line-height: 30px;
  color: #293545;
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
@media (min-width: 700px) {
  .page-footer {
    width: 700px;
    margin: 0 auto;
  }
}
.page-footer__questions {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1px;
}
.questions__item {
  font-size: 24px;
  font-weight: lighter;
  color: #293545;
}
@media (min-width: 700px) {
  .questions__item {
    font-size: 40px;
    margin: 0 0;
  }
}
.page-footer__item {
  text-align: center;
}
@media (min-width: 700px) {
  .page-footer__item--tab1st2nd {
    display: inline-block;
    width: 216.5px;
    margin: 0 64px;
  }
  .page-footer__item--tab3rd {
    margin: 0 216px;
    width: 267px;
  }
}
.page-footer__title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -19px;
}
@media (min-width: 700px) {
  .page-footer__title {
    margin-top: 10px;
    margin-bottom: -19px;
  }
}
.page-footer__text {
  font-size: 24px;
  font-weight: lighter;
  color: #d32c55;
  text-align: center;
}
.map {
  background-image: url(img/footer-map.png);
}
