html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 1.4rem;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #D32C55;
}
a:active {
  opacity: 0.3;
}
ul {
  margin: 0;
  padding: 0;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 1.7em;
  color: #293545;
}
h2,
h3 {
  font-size: 1.2em;
  color: #000;
}
mark {
  background: #ff0;
  color: #000;
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
legend {
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
/*body{
	min-width:450px;
}*/
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
.page-header {
  width: 320px;
  margin: 0 auto;
}
.page-header__logo {
  opacity: .5;
}
.page-header__main-nav {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  height: 60px;
}
.page-header__logo {
  position: relative;
  top: 16px;
  left: 20px;
  width: 74px;
  height: 24px;
  z-index: 10;
}
.page-header__open {
  position: relative;
  top: -8px;
  left: 250px;
  width: 50px;
  height: 24px;
  z-index: 10;
}
.page-header__background {
  position: relative;
  top: 1px;
  background-image: url(../img/iphone-hand-1.png), url(../img/background-1@1x.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0px 167px, -363px -38px;
  min-height: 300px;
  background-size: auto, cover;
}
.g-container {
  width: 320px;
  margin: 0 auto;
}
.main-nav {
  background-color: #293545;
  font-family: 'Open Sans', Helvetica, sans-serif;
  display: none;
}
.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-nav__list a {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 21px;
  color: #ffffff;
  border-top: 1px solid #495361;
  border-bottom: 1px solid #000101;
  display: block;
  text-decoration: none;
}
.main-nav__list a__list li {
  line-height: 32px;
  list-style-type: none;
}
.main-nav__toggle {
  background-image: url(img/header-stripes.png);
}
.main-nav__toggle--close {
  background-image: url(img/close-menu-btn.png);
  width: 23px;
  height: 22px;
}
.promo-look {
  display: block;
  width: 320px
  /*background-color: @page-header-bg;//потом убрать*/
}
.promo-look__slogan {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  position: relative;
  bottom: 314px;
  margin-top: 337px;
}
.promo-look__background {
  background-color: #1e2631;
}
.download__button {
  background-color: #1e2631;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 19px;
  color: #ffffff;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 3px solid #ffffff;
  border-radius: 30px;
  display: block;
  text-decoration: none;
  width: 275px;
  margin: 0 auto;
  position: relative;
  top: 29px;
}
.promo-text__img {
  display: inline-block;
  margin: 15px;
}
.promo-text__systems {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #ffffff;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 30px;
  line-height: 24px;
}
.promo-text {
  position: relative;
  margin-top: 43px;
  top: 0px;
  left: 3px;
  background-color: #1e2631;
}
.promo-offer {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}
.promo-title {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  color: #293545;
  padding-top: 26px;
}
.advantage {
  font-family: 'Open Sans', Helvetica, sans-serif;
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
}
.advantage__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
.advantage__description {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #293545;
}
.advantage-item {
  display: inline-block;
}
.advantage__group {
  padding-top: 1px;
}
.demo {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding-bottom: 39px;
}
.demo__screen {
  text-align: center;
  margin: 0 auto;
}
.reviews {
  background-color: #ffffff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  width: 320px;
  margin: 0 auto;
  text-transform: none;
  font-style: normal;
  text-align: center;
}
.slider-reviews__header {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #000000;
  letter-spacing: 1px;
}
.slider-reviews__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
  color: #293545;
}
.slider-reviews__header {
  font-style: normal;
  margin: 0 auto;
}
.prices {
  width: 320px;
  margin: 0 auto;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background-color: #f2f2f2;
  text-transform: uppercase;
}
.prices__table__head {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.prices__table__title {
  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.name-item-content {
  font-size: 14px;
  line-height: 30px;
  color: #293545;
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
.page-footer__questions {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1px;
}
.questions__item {
  font-size: 24px;
  font-weight: lighter;
  color: #293545;
}
.page-footer__item {
  font-size: 18px;
  font-weight: bold;
  color: #293545;
  text-align: center;
}
.page-footer__text {
  font-size: 24px;
  font-weight: lighter;
  color: #d32c55;
  text-align: center;
}
.map {
  background-image: url(img/footer-map.png);
}
