@dark-blue: #1E2631; //цвет фона хедера
@light-gray: #F2F2F2; //светлосерый
@crimson: #D32C55; //малиновый
@dark: #293545;
@black: #000;
@white: #fff; //рамка ссылки
@open-sans24: 24px; //шрифт
@open-sans18: 18px; //download app и пункты меню
@open-sans14: 14px; //доступно для...
@g-width: 320px;
@font-size: 32px;
@font-gr: Gotham Rounded; //шрифт логотипа хедера
@font-os: 'Open Sans', arial;
@capitalize: capitalize;
@lowercase: lowercase;
@uppercase: uppercase;
@a-borger-top: 1px solid #495361; //серо-темно-синий
@a-border-bottom: 1px solid #000101 //черный