//page-header

@page-header-bg: #1E2631; //цвет фона хедера
 //светлосерый
@page-header-main-nav-bg:  rgba(0, 0, 0, 0.3);
@opacity-3: @page-header-main-nav-bg;
@download-button-border: #fff;
@download-button-font-size: 22px;
@download-font-weight: bold;
@bold: @download-font-weight;
/*@download-font-weight: @bold;*/
@promo-text-systems-color: #fff;
@main-nav-bg: #293545;
@color-white: @page-header-text-color;
@page-header-text-color: #FFFFFF; 

@page-header-font-size: 24px; //шрифт
@main-nav-list-a-font-size: 18px;
@main-nav-list-a-font-weight: 600;
@main-nav-list-a-text-transform: uppercase;
@a-color: #fff;
@promo-look-slogan-font-size: 24px;
@promo-look-slogan-font-size-tab: 40px;
@download-button-font-size: 19px;
@promo-text-systems-font-size: 14px;
@promo-text-systems-font-weight: lighter;
@promo-look-slogan-color: #fff;

@g-width: 320px;
@font-size: 32px;
@font-gr: 'Gotham Rounded'; //шрифт логотипа хедера
@font-main: 'Open Sans', Helvetica, sans-serif;
@capitalize: capitalize;
@lowercase: lowercase;
@uppercase: uppercase;
@a-border-top: 1px solid #495361; //серо-темно-синий
@a-border-bottom: 1px solid #000101; //черный
@download-font-weight: bold;
@download-font-weight: @bold;//!!!!

//promo-offer

@promo-font-family: @font-main;
@promo-font-size: 24px;
@promo-font-size-tab: 40px;
@promo-text-transform: capitalize ;
@promo-color: #293545;
@promo-font-weight: 200;
@promo-bg: #fff;


//advantage

@advantage-bg: #F2F2F2;
@advantage-text-transform: none; //не нужно
@advantage-title-font-size: 18px;
@advantage-title-font-size-tab: 20px;///////////////
@advantage-title-font-weight: @bold;
@bold: bold;

@advantage-description-font-size: 14px;
@normal: normal;
@advantage-description-font-weight: normal;
@normal: normal;
@advantage-title-color: #000;
@advantage-decription-color: #293545;

//demo

@demo-bg: #f2f2f2;



//reviews

@reviews-bg: #fff;
@reviews-font-style: normal;
@reviews-text-transform: capitalize;
@slider-reviews-header-font-size: 18px;
@slider-reviews-header-font-weight: bold;
@slider-reviews-header-line-height: 30px;
@slider-reviews-header-color: #000;

@slider-reviews-text-font-size: 14px;
@slider-reviews-text-font-weight: normal;
@slider-reviews-text-line-height: 30px;
@slider-reviews-text-color: #293545;


//prices

@prices-bg: #f2f2f2;
@prices-text-transform: uppercase;
@prices-table-head-font-size: 18px;
@prices-table-head-font-weight: bold;
@prices-table-head-line-height: 30px;
@prices-table-head-color: #fff;

@prices-value-font-size: 24px; //исправить!!!
@lighter: lighter;
@prices-value-font-weight: @lighter;
@prices-value-line-height: 30px;
@prices-value-color: #fff;

@name-item-content-font-size: 14px; //исправить!!!
@name-item-content-line-height: 30px;
@name-item-content-color: #293545;






//page-footer

@page-footer-text: #D32C55; //малиновый
@page-footer-header-color: #000;
@page-footer-bg: #fff;

@questions-item-font-size: 24px;
@questions-item-font-size-tab: 40px;
@questions-item-font-weight: lighter;
@questions-item-font-weight: @lighter;
@questions-item-color: #293545; //not black!

@page-footer-title-font-size: 18px;
@footer-font-size: 18px;
@page-footer-title-font-size: @footer-font-size;
@page-footer-title-font-weight: bold;
@page-footer-title-font-weight: @bold;
@page-footer-title-color: #293545;

@page-footer-text-font-size: 24px;
@page-footer-text-font-weight: lighter;
@page-footer-text-font-weight: @lighter;
@page-footer-text-color: #d32c55;