.advantage {
	font-family: @font-main;
	width: 320px;
	margin: 0 auto;
	background-color: @advantage-bg; //light-gray

	&__title {
		font-size: @advantage-title-font-size; //по аналогии с ниже лежащим блоком
		font-weight: @bold;
		line-height: 30px; //на глаз
		text-align: center;
		color: @advantage-title-color;

	}

	&__description {
		font-size: @advantage-description-font-size;
		font-weight: @normal;
		text-align: center;
		color: @advantage-decription-color;
		line-height: 22px;//впм
		padding-top: 0px;
		padding-bottom: 13px;//на всякий
		margin-top: 1px;
		margin-bottom: 0px;
	}

}
.advantage-item {
	display: inline-block;

}
.advantage__group {
	margin-top: 113px;//возможно придется менять!
}


.advantage__demo {
	
	width: 320px;
	margin: 0 auto;
	background-color: #f2f2f2;
	padding-top: 26px;/////////////////
	text-align: center;
}
.advantage__demo__screen  {
	
	margin: 0 auto;
	margin-top: 1px;
	}


@media (min-width: 700px) {
	.advantage {
		width: 700px;
		padding-top: 0px;
		
	}
	.advantage__title {
		font-size: @advantage-title-font-size-tab;
		line-height: 20px;//пока чтобы было!!!!!!!
	}
}
/*@media (min-width: 700px) {
	.g-container {
		width: 700px;
	}


	.advantage-group {
		width: auto;
		
		display: block;
		
	}
	.advantage__demo {
		width: 347px;
		
		display: inline-block;
		
	}
	
	
	
	.advantage__demo__screen {
		display: inline-block;
	}
}*/
@media (min-width: 700px) {
	.advantage__flex {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;//default
		align-content: space-between;
	}
	
}
.advantage__group {
	order: 2;
	margin: 0 1px;
}
.advantage__demo {
	order: 1;
	margin: 0 1px;
}


