.advantage {
	font-family: @font-main;
	width: 320px;
	margin: 0 auto;
	background-color: @advantage-bg; //light-gray

	&__title {
		font-size: @advantage-title-font-size; //по аналогии с ниже лежащим блоком
		font-weight: @bold;
		line-height: 30px; //на глаз
		text-align: center;
		color: @advantage-title-color;

	}

	&__description {
		font-size: @advantage-description-font-size;
		font-weight: @normal;
		text-align: center;
		color: @advantage-decription-color;
		line-height: 22px;//впм
		padding-top: 0px;
		padding-bottom: 13px;//на всякий
		margin-top: 1px;
		margin-bottom: 0px;
	}

}

@media (min-width: 700px) {
	.advantage {
		width: 700px;
		padding-top: 0px;
		
	}
	.advantage__title {
		font-size: @advantage-title-font-size-tab;
		line-height: 20px;//пока чтобы было!!!!!!!
	}
}
@media (min-width: 700px) {
	.advantage__demo {
		width: 350px;
		
		display: inline-block;
		
	}
	.advantage-group {
		width: 350px;
		
		display: inline-block;
		
	}
	g-container {
		width: 350px;
	}
}


.advantage-item {
	display: inline-block;

}
.advantage__group {
	margin-top: 113px;//возможно придется менять!
}

