.effect {
	display: none;/*Этот блок предназначен для других версий*/
}

@media (min-width: 700px) {
	.effect {
		display: block;//показываем для планшетной версии
		margin-top: 16px;///127
		margin-bottom: 119px;//чтобы следующий блок не налазил
		&__position {
			width: 310px;
			float: left;
			padding-top: 98px;
			height: 250px;//пока столько
			background-image: url(../img/timer-2.svg);
			background-repeat: no-repeat;
			background-position: 46px 35px;
		}
		&__picture {
			
			width: 127px;
			height: 121px;
			border: 11px solid @effect-color;
			border-radius: 50%;
			color: @effect-color;
			font-size: 104.6px;
			font-weight: @bold;
			padding: 35px 32px;
			margin-top: 0px;
			margin-left: 69px;
			padding-left: 37px;
			padding-right: 27px;
			
		}
		//правая часть блока
		&__header {
			/*width: 228px;*/
		
			display: inline-block;
			padding-top: 10px;
			margin-left: 43px;////
		}
		&__title {
			font-size: @effect-title-font-size;
			font-weight: @bold;
			line-height: 36px;
			width: 163px;//для правильного переноса слов
			margin-top: 65px;
			padding-bottom: 0px;
			margin-bottom: 10px;
		}
		&__text {
			width: 300px;
			font-size: 14px;
			line-height: 24px;
			width: 295px;///
			margin-top: 0px;
			margin-bottom: 0px;
			padding-top: 0px;
			padding-bottom: 5px;
		}
		&__link {
			color: #d32c55;
			text-decoration: underline;
			font-size: 14px;
			line-height: 24px;
			display: inline-block;
			padding-top: 5px;
		}
}
@media (min-width: 1200px) {
	.effect {
		margin-top: 16px;
		margin-bottom: 119px;
		background-color: #f2f2f2;
		&__position {
			width: 400px;
			height: 269px;
			padding-top: 120px;
			background-image: url(../img/timer-3.svg);
			background-position: 56px 44px;
			margin-left: 85px;
		}
		&__picture {
			font-size: 120px;
			margin-left: 84px;
			margin-bottom: 0;
			padding: 37px 11px 78px 43px;
			width: 166px;
			height: 104px;
			line-height: 137px;
		}
		//правая часть блока	
		&__header {
			width: 500px;
			margin-left: 22px;
			
		}
		&__title {
			width: 500px;
			margin-top: 125px;////125
		}	
		&__text {
			width: 500px;
			font-size: @effect-text_and_link-font-size-desk;
			line-height: 30px;
		}
		&__link {
			font-size: @effect-text_and_link-font-size-desk;
		}

	}
	.g-container {
		width: 1200px;
		margin: 0 auto;
	}



}
	
	
}




















	
}