.page-header {
	width: 320px;
	margin: 0 auto;

	
	&__logo {
		opacity: .5;
	}
}


//глобальный контейнер
.g-container {
	width: 320px;
	margin: 0 auto;
}

.page-header__background {
	background-image:url(img/iphone-hand-1.png), url(img/background-1@1x.jpg);
	/*background-repeat: no-repeat, no-repeat;
	background-position:center 90px, top center;
	min-height: 300px;
	background-size:auto, cover;*/
	
	
	
	
	text-align:center;
	min-height:300px;
}
.main-nav {
	background-color: @main-nav-bg;
	font-family: @font-main;
	display: none; //не забыть поставить в none;
}

.main-nav__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.main-nav__list a {
	font-family: @font-main;
	font-size: @main-nav-list-a-font-size;
	font-weight: @main-nav-list-a-font-weight;
	text-transform: @main-nav-list-a-text-transform;
	text-align: center;
	padding-top: 21px;
	padding-bottom: 21px;
	color: @page-header-text-color;
	border-top: @a-border-top;
	border-bottom: @a-border-bottom;
	display: block;
	text-decoration: none;

	&__list li {
		line-height: 32px;
		list-style-type: none;
	}
}
.main-nav__toggle {
	background-image: url(img/header-stripes.png);

	&--close {
		background-image: url(img/close-menu-btn.png);
		width: 23px;
		height: 22px;
	}
}
.promo-look {
	display: block;
	width: 320px;
	background-color: @page-header-bg;//потом убрать
	

	&__slogan {
		font-family: @font-main;
		font-size: @promo-look-slogan-font-size;
		font-weight: @promo-font-weight;
		color: @promo-look-slogan-color;
		text-align: center;
		margin-bottom: 340px;//возможно придется менять
	}
}
//ссылка "Скачать приложение"

.download__button {
	font-family: @font-main;
	font-weight: @download-font-weight;
	font-size: @download-button-font-size;
	color: @a-color;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 13px;
	border: 3px solid @download-button-border;
	border-radius: 30px;
	display: block;
	text-decoration: none;
	width: 275px;
	margin: 0 auto;
	margin-top: 1px;
}
.promo-text__img {
	display: inline-block;
	margin: 15px;
}
.promo-text__systems {
	font-family: @font-main;
	font-size: @promo-text-systems-font-size;
	font-weight: @promo-text-systems-font-weight;
	color: @promo-text-systems-color;
	text-align: center;
	padding-top: 3px;//!!!!!!!!!
	padding-bottom: 30px;//возможно придется менять
	line-height: 24px;
}

