.page-header {
  width: 320px;
  margin: 0 auto;
}

.g-container {
  width: 320px;
  margin: 0 auto;
}
/* -- Шапка нераскрытого меню -- */

.page-header__main-nav {
  background-color: @opacity-3;
  height: 66px;
}

/*Логотип*/
.page-header__logo {
	margin-top: 23px;
	margin-left: 21px;
  
    display: inline-block;
 }
/*menu-burger*/
.page-header__open {
  padding-top: 0px;
  padding-left: 150px;
  margin-top: 1px;
  display: inline-block;
  }

.page-header__background {
  background-image: url(../img/iphone-hand-1.png), 
  url(../img/background-1@1x.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0px 172px, -368px -37px;
  background-size: auto, cover;
  position: relative;/*для привязки точки отсчета
                      для выпадающего меню*/
}

.main-nav {
  position: absolute;
  top: -3px;
  background-color: @main-nav-bg;
  font-family: @font-main;
  display: block; /*block or none!!!!*/
  }

/*Выпадающее меню*/
.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

.main-nav__item {
  width: 320px;
}

.main-nav__item a {
  font-family: @font-main;
  font-size: @main-nav-list-a-font-size;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  width: 320px;
  padding-top: 21px;
  padding-bottom: 21px;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}


.main-nav__logo,
.main-nav__close {
  padding: 0px 0px;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  
}
.main-nav__item>.main-nav__logo {
  width: 74px;
  margin-top: 2px;
  margin-left: 20px;
}
.main-nav__item>.main-nav__close {
  width: 23px;
  margin-top: 2px;
  margin-left: 177px;
}


.logo-svg {
  width: 74px;
  display: inline-block;
}

.logo-cross {
  width: 23px;
  display: inline-block;
}

.main-nav__item {
  line-height: 20px;
  list-style-type: none;
  border-top: @a-border-top;
  border-bottom: @a-border-bottom;
}



  
  
/*Взгляните на жизнь иначе*/

.promo-look {
  display: inline-block;
  width: 320px;
}

.promo-wrapper {
  background-color: #1e2631;
  margin-top: 336px;
  padding-top: 1px;
}

.promo-look__slogan {
  font-family: @font-main;
  font-size: @promo-look-slogan-font-size;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 1px;
  
}
.download,
.promo-text {
  background-color: @page-header-bg;
  
}

.download {
  margin-top: 26px;
}

.download__button {
  background-color: @page-header-bg;
  font-family: font-main;
  font-weight: bold;
  font-size: 19px;
  color: @color-white;
  text-align: center;
  display: block;
  border-top: 1px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 3px solid #ffffff;
  border-radius: 30px;
  text-decoration: none;
  width: 275px;
  margin: 0 auto;
  }

/*--Иконки операционных систем --*/

.promo-text__img {
  display: inline-block;
  margin: 15px;
}

.promo-text {
  margin-top: 15px;
  
}

.promo-text__systems {
  font-family: @font-main;
  font-size: 14px;
  font-weight: lighter;
  color: #ffffff;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 30px;
  line-height: 24px;
}

.promo-text {
  background-color: @page-header-bg;
}




/*---------- Планшетная версия ----------*/
