.page-footer {
	margin-top: 40px;
	background-color: @page-footer-bg;
	font-family: @font-main;
}



.page-footer__questions {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 0px;//
}

.questions__item {
	font-size: @questions-item-font-size;
	font-weight: @lighter;
	color: @questions-item-color;
}
@media (min-width: 700px) {
	.questions__item {
		font-size: @questions-item-font-size-tab;
		margin: 0 0;///////////////////////
	}
}

.page-footer__item {
	text-align: center;
	margin: 0 auto;
	padding: 9px 0px;///
}
.page-footer__contacts {
	margin-top: 0px;//////////////
}
@media (min-width: 700px) {
	.page-footer__contacts {
	display: flex;//исправлено
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-shrink: 1;
	
  }
  .page-footer__item {
	width: 50%;//было 267px
	margin: 4px 0;
	margin-bottom: 29px;
  }
  .page-footer__item:last-child {
	margin-bottom: 1px;
  }
  .page-footer__title {
	padding-bottom: 0px;
  }



}
.page-footer__title {
	font-size: @footer-font-size;
	font-weight: @bold;
	margin-top: 0px;//10
	margin-bottom: 0px;///-19
}
@media (min-width: 700px) {
	.page-footer__title {
	margin-top: 10px;//может потом придется менять
	margin-bottom: 0;
	}
}

.page-footer__text {
	font-size: @page-footer-text-font-size;
	font-weight: @lighter;
	color: @page-footer-text-color;
	text-align: center;
	margin: 6px auto;
	
	
}
.map__size {
	width: 320px;
	height: 200px;
}
@media (min-width: 700px) {
	.map__size {
		width: 700px;
		height: 360px;
	}
}
@media (min-width: 1200px) {

	.g-container {//потом уберу, когда появятся другие блоки
		width: 1200px;
		margin: 0 auto;
	}
	.map__size {
		width: 1200px;
		height: 513px;
		border: 0;
	}
}