.page-header {
	width: 100%;
	background-image: url(css/bg-header-full.png) ;
	
	&__logo-link {
		font-size: @font-size;
		width: 80px;
		color: @white;
		border-bottom: @a-border-bottom;
	
	}
}
.main-nav__list a {
	font-family: @font-os;
	font-size: @open-sans18;
	padding-top: 24px;
	padding-bottom: 24px;
	color: @white;
	border-top: @a-border-top;
	border-bottom: @a-border-bottom;
	
	
		&__list li {
			line-height: 32px;
			background-color: @dark-blue;
			list-style-type: none;
			
		}
}
.main-nav__toggle {
	background-image: url(css/header-stripes.png);
	
		&--close {
			background-image: url(css/close-menu-btn.png);
			width: 23px;
			height: 22px;
}
}

