.prices {
	width: 320px;
	margin: 0 auto;
	font-family: @font-main;
	background-color: @prices-bg;
	text-transform: @prices-text-transform;
}
.prices__table__head {
	font-size: @prices-table-head-font-size;
	font-weight: @prices-table-head-font-weight;
	line-height: @prices-table-head-line-height;
	text-align: center;
	color: @prices-table-head-color;
}

.prices__table__title {
	font-size: @prices-value-font-size;
	font-weight: @prices-value-font-weight;
	line-height: @prices-value-line-height;
	text-align: center;
	color: @prices-value-color;
}
.name-item-content {
	font-size: @name-item-content-font-size;
	line-height: @name-item-content-line-height;
	color: @name-item-content-color;
}