.promo-offer {

	width: 320px;
	margin: 0 auto;
	background-color: @promo-bg;
}

.promo-title {
	font-family: @font-main;
	font-size: 24px;
	font-weight: @promo-font-weight;
	text-align: center;
	color: @promo-color;
	padding-top: 26px;
}