.promo-title {
	font-family: @font-main;
	font-size: 24px;
	font-weight: @promo-font-weight;
	text-align: center;
	color: @promo-color;
	margin-bottom: 50px;/////////////////
	&__quest {
		margin-bottom: 30px;
		display: block;
	}
}

@media (min-width: 700px) {
	.promo-title {
		font-size: @promo-font-size-tab;
		padding-top: 0;
		margin-top: 54px;
		line-height: 40px;
		&__quest {
		margin-bottom: 0;//переопределяем
		
		}
		&__ans {
		line-height: 46px;
		margin-top: 8px;//Отступ между строками
		display: block;
		}
	}
	
}
@media (min-width: 1200px) {
	.promo-title {
		font-size: @promo-font-size-desk;
		font-weight: 100;
		margin-top: 79px;
		&__quest {
			margin-bottom: 10px;
			
		}
		&__ans {
			line-height: 60px;
		}
	}
}

































/*@media (min-width: 700px) {
	.promo-title {
		font-size: @promo-font-size-tab;
		padding-top: 0;
		margin-top: 54px;
		line-height: 40px;
		




}
	.promo-title__quest {
		
		margin-bottom: 0;//переопределяем для планшетной версии
		
	}
	.promo-title__ans {
		display: inline-block;
		line-height: 46px;
		margin-top: 6px;
		margin-bottom: 0;
		
	}
}*/


