.reviews {
	background-color: @reviews-bg;
	font-family: @font-os;
	width: 320px;
	margin: 0 auto;
	text-transform: @reviews-text-transform;
}
.slider-reviews {
	
	&__header {
		font-size: @slider-reviews-header-font-size;
		font-weight: @slider-reviews-header-font-weight;
		line-height: @slider-reviews-header-line-height;
		text-align: center;
		color: @slider-reviews-header-color;
	}

	&__text {
		font-size: @slider-reviews-text-font-size;
		font-weight: @slider-reviews-text-font-weight;
		line-height: @slider-reviews-text-line-height;
		text-align: center;
		color: @slider-reviews-text-color;
	}
}
